body {
    margin:50px auto;
    padding:20px;
    font-size:16px;
    margin:0;
    line-height: 1.6;
    font-family: Tahoma, Verdana, Arial, sans-serif;
}

form {
    display: inline-block;
    padding: 20px;
    width: 600px;
  }

.itemcontainer {
    display: flex;
    width: 600px;  
    justify-content: space-between;
    align-items: strech;
	align-content: stretch; 
}
.itemcontainer2 {
    display: flex;
    justify-content: space-between;
}

.itemcontainer3 {
    display: flex;
    width: 600px; 
    justify-content: center;
    align-items: strech;
	align-content: stretch; 
}

.oikeaanlaitaan {
    display:flex;
    float:right;
}

.nappula {
    font-size: 20px;
    border-radius: 10px;
    float:center;
}